<launch>
	
	
	<include file="$(find turtlebot3_gazebo)/launch/turtlebot3_stage_4.launch"/>
	<include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch"/>
	<include file="$(find map_provider)/launch/map_provider.launch"/>
	
	<node pkg="autonomous_turtlebot" type="test_position.py" name="test_position"/>
	<node pkg="autonomous_turtlebot" type="RRT_node.py" name="RRT"/>
	<node pkg="autonomous_turtlebot" type="PathPlanner_node.py" name="Planner"/>
	<node pkg="autonomous_turtlebot" type="visualize_path.py" name="visualizer"/>
</launch>
